<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
    <title>Загрузка аватара</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
    <div th:replace="fragments/header::header"></div>

    <div class="container" style = "max-width: 500px ">
        <h3 class="md-3">Загрузите изображение</h3>

        <form
            id="uploadForm"
            method="post"
            th:action="@{/uploadAvatar/new}"
            enctype="multipart/form-data">
            <input id ="input-file" type="file" name="file" accept="image/jpeg, image/png"/>
            <button class="btn btn-sm btn-outline-success float-right" type="submit" name="action" value="save">
                Загрузить
            </button>
            <button class="btn btn-sm btn-outline-danger align-content-center" type="submit" name="action" value="cancel">
                Отмена
            </button>
        </form>

    </div>
    <div th:if="${message != null}"
         class="alert alert-secondary alert-dismissible fade show text-center message mt-3"
         role="alert">
        [[${message}]]
        <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
</body>
</html>